body{
    background-color: rgb(250, 250, 250);
}

header{
    background-color: rgb(186, 19, 19);
    
}

.foto{
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 2px solid rgb(167, 1, 1);

}


#video{
    height: 150px;
    width: 300px;
    margin-left: 40%;
}
